/*
COLORS:

rosered: #B40912
offwhite: #E0E3DA
lightBlue: #70B1B5
darkBlue: #0E2132
shadeOfBlack: #04050A

colors
test
again
*/

/*getting rid of default padding and borders*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	margin: 20px;
}

body {
	margin: 0;
	background: whitesmoke;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}
.header {
	color: white;
	height: 80vh;
	width: 100%;
	background-image: linear-gradient(to right bottom, rgb(45, 179, 236), rgba(44, 53, 57, .2)), url(img.jpg);
	background-size: cover;
	background-position: bottom center;
	position: relative;
	margin-bottom: 10px;
}

.text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: white;
	backface-visibility: hidden;
}

.heading-primary-main {
	display: block;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 15px;
	animation-name: moveInLeft;
	animation-duration: 2s;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 5px;
	animation-name: moveInRight;
	animation-duration: 2s;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn:link,
.btn:visited {
	text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2s;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
}

.btn-white {
	background-color: white;
	color: #777;
}

.work {
	text-align: center;
	width: 100%;
}
.work a img {
	margin: 1%;
	width: 47%;
}

@media only screen and (max-width: 991px) {
	header p {
		width: 100%;
	}
	.work a img {
		position: relative;
		right: 1%;
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	header {
		width: 100%;
		margin: 2px;
	}
	.work a img {
		position: relative;
		right: 1%;
		width: 100%;
	}
}

.aboutme {
	color: rgba(0, 0, 0, 0.74);
	font-family: lato;
}
li {
	list-style: none;
}
.h1desc {
	border-bottom: 1px solid rgba(0, 0, 0, 0.137);
	color: #2689ae;
}
.qual {
	color: #34a9dc;
}
.section {
	margin-bottom: 10px;
}
